@font-face {
    font-family: 'gelasio';
    src: url('../fonts/Gelasio-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'gelasio';
    src: url('../fonts/Gelasio-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: 'gelasio';
    src: url('../fonts/Gelasio-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'gelasio';
    src: url('../fonts/Gelasio-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Bold.ttf');
    font-weight: 700;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: 'roboto';
    src: url('../fonts/Roboto-Regular.ttf');
    font-weight: 400;
}